

html
{
    height: 100%;
   
}

    body
{
    height: 100%;
    background-color: #040303;
    font-family: Noto Sans Japanese, sans-serif;
    position: relative;
}

a:-webkit-any-link 
{
    text-decoration: none;
}

header
{
    margin-bottom: 5%;
}

.heading-h1
{
    all: unset;
    color: #eb516b;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: Noto Sans Japanese, sans-serif;
    margin-left: 0.7rem;
    margin-bottom: 1rem;
}

.heading-h1:hover
{
    cursor: pointer;
}


footer img
{
    width: 40%;
    height: 23%;
    position: absolute;
    bottom: 2rem;
    left: 29%;
    right: 10%;
    text-align: center;
}

.search-box
{
    margin-top: 120px;
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-left: 17%;
    margin-right: 10%;
    gap: 1rem;
    flex-wrap: wrap;
}

.anime-name
{
    flex: 1;
    height: 1.8rem;
    border: 3px #2e7373 solid;
    border-radius: 6px;
    font-family:  Noto Sans Japanese;
    font-size: 1rem;
    padding: 0.6rem;
    padding-left: 1rem;
    background-color: rgb(2, 5, 53);
    color: white;
    transition: box-shadow 0.3s ease-in-out;
}

.anime-name::placeholder
{
    color: white;
    padding-left: 0.1rem;
    font-family: Noto Sans Japanese;
}

.anime-name:focus
{
    box-shadow: 0 0 0 0.25rem rgba(4, 248, 248, 1);
    outline: none;
    border: none;
    background-color: rgb(6, 13, 112) !important;
}

.anime-name:hover
{
    cursor: pointer;
}

.search-button
{
    width: 15%;
    height: 3.2rem;
    border-radius: 6px;
    border: 3px #2e7373 solid;
    background-color: rgb(2, 5, 53);
    color: white;
    transition: box-shadow 0.4s ease-in-out;
    overflow-wrap: break-word;
    font-family: Noto Sans Japanese;
    font-size: 1rem;
}

.disabled 
{
    opacity: 0.4; 

}

.search-button:hover
{
    cursor: pointer;
}

.disabled:hover
{
    cursor: not-allowed; 
}


.search-button:active
{
    box-shadow: 0 0 0 0.25rem rgba(4, 248, 248, 1);
    border: none;
}


.not-found
{
    color: red;
    text-align: center;
    margin-top: 1rem;
}

.row
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 1rem;
}

.search-page
{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-left: 30%;
}

.result
{
    color: rgb(172, 161, 161);
    font-size: 1rem;
    font-family: Noto Sans Japanese;
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column; 
    gap: 0.4rem;
}


.search-page-title:link, .search-page-title:visited 
{
    color: rgb(251, 245, 251) !important;
}

.result-title
{
    font-weight: 900;
}

.anime-thumbnail
{
    width: 100px;
    float: right;
    vertical-align: middle;
}

.messages 
{
    color: white;
    font-size: 1rem;
    background-color: red;
    text-align: center;
}


.anime-wiki 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 0.8rem;
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

.anime-wiki h1, .anime-wiki p, .anime-wiki a 
{
    margin: 0.4rem;
}

.anime-wiki-img
{width: auto;}

.anime-wiki h1 
{
    font-size: 2rem;
    width: 120%;
}

.anime-wiki p 
{font-size: 1rem;}

.synopsis 
{width: 120%;}


@media (min-width: 601px) and (max-width: 900px)
{
   footer img {height: 18%;} 
   .search-button {width: 24%;}
}

@media (min-width: 300px) and (max-width: 600px)
{
    footer img {height: 15%; }
    .search-box{margin-top: 70px;}
    .search-button {width: 30%;}
    .search-button {height: 2.8rem;}
    .anime-name {height: 1.5rem;}
    .anime-thumbnail{width: 60px; height: auto;}
    .result{font-size: 0.7rem;}
    .anime-wiki-img{width: 60%;}
    .anime-wiki h1 {font-size: 1rem;}
    .anime-wiki p {font-size: 0.8rem;}
    .anime-wiki {margin-top: 20%;}
    .search-page {margin-left: 20%;}
}

